<div 
	id="footer"
	class = "w-full h-[100px] absolute bottom-0 left-0 right-0
	bg-black"
>	
	<% var year = new Date().getFullYear();%>
	<div class = "text-center text-[#e48f1a] mt-5 text-2xl">Henry's Speakeasy &copy;<%=year %></div>
</div>