    <div class = 'w-full !my-[50px] !flex justify-between'>
        <button 
            type = "submit"
            class = "rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
            border-white border-2 text-center w-[150px] select-none text-white mx-auto
            hover:bg-gray-800 bg-[#99cbae]"
        >Submit</button>
        <button 
            type = "button"
            onClick = "history.back()"
            class = "rounded-full p-[10px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
            border-white border-2 text-center w-[150px] select-none text-black mx-auto
            hover:bg-gray-300 bg-[#dbdbdb]"
        >Cancel</button>
    </div>