<div
    id = "scene2"
    class = "absolute inset-0 bg-[url('<%= InitiationImage %>')] 
    bg-cover bg-no-repeat bg-bottom after:bg-black after:z-[1] after:h-full after:w-full 
        after:block after:absolute after:left-0 after:right-0 after:top-0 after:opacity-60 scene2">
	<div class = "m-auto grid gap-[10px] mt-[100px] sm:mt-[100px] md:mt-[0px] w-11/12 sm:w-5/12 
    z-[2] relative">
        <img src = '<%= GoldOrnamentalTop%>' alt = "Ornamental Line" class = "mx-auto sm:mt-10 select-none"/>
		<h1 class = "text-center text-4xl sm:text-5xl uppercase text-[#e48f1a]">Welcome!</h1>
        <h2 class = "text-center text-3xl text-white">You have been initiated as a member at 
        <span class = "text-[#e48f1a] uppercase">Henry's Speakeasy</span>!</h2>
		 <button
            id="ContinueButton"
            type='button' 
            class ="rounded-full px-[5px] active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
            border-white border-2 text-center w-[150px] select-none text-white mx-auto
            hover:bg-gray-800 bg-[#99cbae] text-2xl mt-[20px]"
         >Continue</button>
        <img src = '<%= GoldOrnamentalBottom %>' alt = "Ornamental Line" class = "mx-auto sm:mt-10 select-none"/>
	</div>
</div> 