<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">  
        <link rel ="stylesheet" href='/stylesheets/style.css'>
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Henry's Speakeasy</title>
    </head>
    <body>
    </body>
</html>