<div id ="ImageUpload">
    <label for = "image">Upload image</label>
    <input 
        name = "image" 
        id = "imageInput"
        type = "file"
        placeholder = "Upload an image" 
        class = "file:rounded-lg file:font-['DecoTech'] file:bg-[#99cbae]
        file:text-black cursor-pointer text-black"
        />
</div>
