<div 
id="AddSocialComponent"
class = "mt-[50px] text-black"
>
<script>
    //Array that stores added social media links 
    var AddedSocialArray = [];

	<% if( typeof userDetail.SocialMediaLinks != 'undefined' && userDetail.SocialMediaLinks.length > 0) { %>
        <% userDetail.SocialMediaLinks.forEach(val => { %> 
            var tempObj = {
                platform: '<%= val.platform %>', 
                link: '<%= val.link%>', 
                }
            AddedSocialArray.push(tempObj)
        <%})%>
    <%}%>

</script>
    <input 
        id = "SocialHiddenInput"
        type = 'hidden' 
        name = "NewSocialMediaLinks" 
    />
    <label>Add your social media link here</label>
    <div 
        id ="SocialMediaFormWrapper"
        class = "grid grid-cols-[90%_10%]" 
        >
        <div id = "SelectWrapper">
            <select
                class ="block w-full rounded-mg"
                id = "SocialSelect"
            >
            <% if(typeof SocialMediaArray != "undefined" && SocialMediaArray.length > 0) { %> 
            <% SocialMediaArray.forEach(media => { %> 
                <option 
                    value = "<%= media %>"
                    class ="rounded-mg">
                        <%= media%></option>
            <%})%>
            <%}%>
                <option value = "website">Your website</option>
            </select>
        </div>
        <div
            id="AddSocialButton"
            class = "inline-block text-2xl rounded-full px-1 active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
            border-white border-2 text-center select-none text-white mx-1 bg-[#f9bb28]
            hover:bg-gray-800 min-w-[50px] w-auto "
            onClick = "AddSocialInput"
        >Add</div>
    </div>
    <div 
        id = "DeleteMessageField"
        class = "relative"></div>
    <div 
        id = "AddedSocialMediaField"
        class = "my-[50px]"
        >
    </div>
    <script>
        var SocialContainer =document.getElementById('AddSocialComponent');
        
        var SocialSelect = document.getElementById('SocialSelect');
	    var AddSocialButton = document.getElementById('AddSocialButton');
	    var AddedSocialMediaField = document.getElementById('AddedSocialMediaField');
	    var SocialHiddenInput = document.getElementById('SocialHiddenInput');
        var DeleteMessageField = document.getElementById('DeleteMessageField');

        //Add existing links retrived from the database 
        if(AddedSocialArray.length > 0){
            SocialHiddenInput.value = JSON.stringify(AddedSocialArray); 
            AddedSocialArray.forEach(retrieved => {
                SocialSelect = document.getElementById('SocialSelect');
                const retrievedPlatform = retrieved.platform;

                const NewSocialWrapper =document.createElement('div')
                NewSocialWrapper.style.margin= "20px 0px"
                AddedSocialMediaField.appendChild(NewSocialWrapper); 
            
                const InputWrapper = document.createElement('div'); 
                NewSocialWrapper.appendChild(InputWrapper); 

                InputWrapper.classList.add("SocialMediaLinkInput"); 

                //this is for the title of the input 
                const Label = document.createElement('div'); 
                Label.innerHTML = `${retrievedPlatform}: `; 
                Label.classList.add("SocialInputLabel")
                InputWrapper.appendChild(Label)

                const ConfirmedLinkText = document.createElement('div');
                ConfirmedLinkText.classList.add('ConfirmedText'); 
                ConfirmedLinkText.innerHTML = retrieved.link; 

                //delete button 
                const DeleteButton = document.createElement('img')
	            DeleteButton.alt = "Delete";
	            DeleteButton.classList.add("MiniDeleteButton")
	            DeleteButton.src = "/assets/icon/cancel.png"
                InputWrapper.appendChild(ConfirmedLinkText)
                InputWrapper.appendChild(DeleteButton)

                //Add socialmedia type and link to array 
                const DeleteLink = () =>{
                    AddedSocialMediaField.removeChild(NewSocialWrapper)
                    var temp = AddedSocialArray.filter(val => val.link != retrieved.link)
                    AddedSocialArray = temp; 
                    SocialHiddenInput.value=JSON.stringify(AddedSocialArray)
                    ShowDeleteLinkMessage("Link has been deleted.")
                }
                DeleteButton.addEventListener('mousedown', (evt)=>{DeleteLink(); HideCursorDeleteMessage(evt, SocialContainer);})
                DeleteButton.addEventListener('mouseover', evt =>CursorDeleteMessage(evt, SocialContainer))
                DeleteButton.addEventListener('mouseout', evt =>HideCursorDeleteMessage(evt, SocialContainer))
            })
        }

        const AddSocialInput = () =>{
            SocialSelect = document.getElementById('SocialSelect');
            //social media
            const UserInput = SocialSelect.value.trim(); 
            
            const NewSocialWrapper =document.createElement('div')
            NewSocialWrapper.style.margin= "20px 0px"
            AddedSocialMediaField.appendChild(NewSocialWrapper); 
            
            const InputWrapper = document.createElement('div'); 
            NewSocialWrapper.appendChild(InputWrapper); 

            InputWrapper.classList.add("SocialMediaLinkInput"); 

            //this is for the title of the input 
            const Label = document.createElement('div'); 
            Label.innerHTML = `${UserInput}: `; 
            Label.classList.add("SocialInputLabel")
            InputWrapper.appendChild(Label)

            //text input for the link 
            const Input = document.createElement('input');
            Input.type="text"
            Input.placeholder=`Add ${UserInput} link here`; 
            const InputID = `${UserInput}-input`
            Input.setAttribute('id', InputID); 
            Input.classList.add('SocialInput'); 
            InputWrapper.appendChild(Input); 

            //Button 
            const Button = document.createElement('button');
            Button.classList.add('AddLinkButton')
            InputWrapper.appendChild(Button);
            Button.innerHTML = "Add Link"
            Button.type='button'
            
            const ConfirmLink = () =>{
                if(Input.value == ""){
                    Input.placeholder = "This field cannot be empty"
                }
                else {
                    const ConfirmedLinkText = document.createElement('div');
                    ConfirmedLinkText.classList.add('ConfirmedText'); 
                    ConfirmedLinkText.innerHTML = Input.value.trim(); 

                    //delete button 
                    const DeleteButton = document.createElement('img')
	                DeleteButton.alt = "Delete";
	                DeleteButton.classList.add("MiniDeleteButton")
	                DeleteButton.src = "/assets/icon/cancel.png"
                    InputWrapper.replaceChild(ConfirmedLinkText, Input)
                    InputWrapper.replaceChild(DeleteButton, Button)

                    //Add socialmedia type and link to array 
                    const newAddedLink = {
                        platform: UserInput,
                        link: Input.value.trim(), 
                    }
                    AddedSocialArray.push(newAddedLink); 
                    SocialHiddenInput.value = JSON.stringify(AddedSocialArray)
                    const DeleteLink = () =>{
                        AddedSocialMediaField.removeChild(NewSocialWrapper)
                        var temp = AddedSocialArray.filter(val => val.link != UserInput)
                        AddedSocialArray = temp; 
                        SocialHiddenInput.value =JSON.stringify(AddedSocialArray)
                        ShowDeleteLinkMessage("Link has been deleted.")
                    }
                    DeleteButton.addEventListener('mousedown', DeleteLink)
                    DeleteButton.addEventListener('mouseover', evt =>CursorDeleteMessage(evt, SocialContainer))
                    DeleteButton.addEventListener('mouseout', evt =>HideCursorDeleteMessage(evt, SocialContainer))

                }
            }
            Button.addEventListener("mousedown", ConfirmLink); 
        }
        AddSocialButton.addEventListener('mousedown', AddSocialInput)

        function ShowDeleteLinkMessage(message){
            const MessageDiv = document.createElement('div');
            MessageDiv.innerHTML = message; 
            MessageDiv.classList.add("DeleteMessage"); 
            DeleteMessageField.appendChild(MessageDiv); 
            
            setTimeout(()=>{
                MessageDiv.classList.add("DeleteMessageFadeIn");
            }, 1)
            setTimeout(()=>{DeleteMessageField.removeChild(MessageDiv)}, 4000)
            setTimeout(()=>{
               MessageDiv.classList.remove("DeleteMessageFadeIn"); 
               MessageDiv.classList.add("DeleteMessageFadeOut"); 
            }, 2000)
        }

    </script>
</div>