<div 
id="AddSocialComponent"
class = "mt-[50px] text-black"
>
   <link rel ="stylesheet" href='../../stylesheets/style.css'> 
    <script>
    var AddedSocialArray = [];
	<% if( typeof actor != 'undefined' && stringAddedSocial != "") { %>
        var temp = '<%= stringAddedSocial %>'
		console.log("temp: ", temp);
        AddedSocialArray = (ParseText(temp)).split('|');
		console.log("AddedSocialArray: ", AddedSocialArray); 
    <%}%>
    </script>
    <input 
        id = "SocialHiddenInput"
        type = 'hidden' 
        name = "NewSocialMedia" 
    />
    <label>Add your social media link here</label>
    <div 
        id ="SocialMediaFormWrapper"
        class = "grid grid-cols-[90%_10%]" 
        >
        <div>
            <select
                class ="block w-full"
                id = "SocialSelect"
            >
            <% if(typeof SocialMediaArray != "undefined" && SocialMediaArray.length > 0) { %> 
            <% SocialMediaArray.forEach(media => { %> 
                <option value = "<%= media %>"><%= media%></option>
            <%})%>
            <%}%>
            </select>
        </div>
        <div
            id="AddSocialButton"
            class = "inline-block text-2xl rounded-full px-1 active:translate-x-[5px] active:translate-y-[5px] cursor-pointer
            border-white border-2 text-center select-none text-white mx-1 bg-[#f9bb28]
            hover:bg-gray-800 min-w-[50px] w-auto "
            onClick = "AddSocial"
        >Add</div>
    </div>
    <div id = "AddedSocialMediaField">
        
    </div>
    <script>
        var SocialSelect = document.getElementById('SocialSelect');
	    var AddSocialButton = document.getElementById('AddSocialButton');
	    var AddedSocialMediaField = document.getElementById('AddedSocialMediaField');
	    var SocialHiddenInput = document.getElementById('SocialHiddenInput');


        const AddSocial = ( ) =>{
            SocialSelect = document.getElementById('SocialSelect');
            SocialSelect.value; 
            const Input = document.create('input');
            Input.type="text"
            Input.plaeholder=""
        }
    </script>
</div>