@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Chapleau Bold Italic";
    src: url("../font/Chapleau Bold Italic.otf") format('opentype');
}

@font-face {
    font-family: "Chapleau Italic";
    src: url("../font/Chapleau Italic.otf") format('opentype');
}

@font-face {
    font-family: "Chapleau Bold";
    src: url("../font/Chapleau Bold.otf") format('opentype');
}

@font-face {
    font-family: "Chapleau";
    src: url("../font/Chapleau.otf") format('opentype');
}

@font-face {
    font-family: "MarketDeco";
    src: url("../font/Market_Deco.ttf") format('truetype');
}

@font-face {
    font-family: "DecoTechTL";
    src: url("../font/DecoTech_TL.ttf") format('truetype');
}

@font-face {
    font-family: "DecoTech";
    src: url("../font/DecoTech.ttf") format('truetype');
}

@layer components {
    .profile-pic {
        @apply w-[250px] h-[250px] m-auto rounded-full;
    }
}